.add-button-card{
    float: right;
    color: white;
    background-color: #c5cae9;
}

.add-button-card:hover{
    background-color: #9e9e9e;
}

.login-button{
    width: 50%;
    margin-top: 30pt;
    margin-left: 50%;
    background-color: #9e9e9e;
}

.login-button:hover{
    background-color: #4b1e4d;
}

.MuiCircularProgress-root {
    position: absolute;
    top: 20%;
}