.project-card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    width: 80%;
    margin-top: 20pt;
    border-radius: 5px;
    border-color: #212121;
    background-color: #3f51b5;
}

.card-content{
    width: 100%;
    margin-bottom: 0;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    height: 100%;
}

.card-login{
    margin: 20pt auto; /* Added */
    width: 40%;
    border-radius: 10px;
    border-width: 20pt;
    border-color: #3f51b5;
    background-color: white;
}

.card-view{
    float: none; /* Added */
    width: 94%;
    margin-top: 20pt;
    margin-right: auto;
    border-radius: 5px;
    background-color: #BDBDBD;
}

.projects-list-card{
    height: 70vh;
    overflow-x: scroll;
    margin-top: 10vh;
}