.project-card{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    width: 50%;
    margin-top: 20pt;
    border-radius: 5px;
    border-color: #212121;
    background-color: #3f51b5;
}

.card-image{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    width: 100%;
    background-color: white;

}

.card-content{
    width: 100%;
    margin-bottom: 0;
}

.btn-floating{
    float: right;
    color: white;
    background-color: #c5cae9;
}

.btn-floating:hover{
    background-color: #9e9e9e;
}

.image{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.card-login{
}